<div class="footer">
  <ul class="list-inline">
    <li class="footer-icon"><i class="fab fa-facebook-square"></i></li>
    <li class="footer-icon"><i class="fab fa-github-square"></i></li>
  </ul>
</div>
