.button-pink {
  border-radius: 50px;
  border: solid 1px #FF5C80;
  padding: 10px 15px;
  color :#FF5C80;
  font-family: "Montserrat", "Helvetica", "sans-serif";
  color :#FF5C80;
  font-size: 15px;
}

.button-pink:hover {
  color :#db254e;
  border: solid 1px #db254e;
  text-decoration: none;
}
