.card {
  margin: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card-description {
  padding :20px;
  margin: 20px;
}

.card-description h3 {
  margin-top : 7px;
}

.card-overflow {
  overflow: scroll;
  max-width: 400px;
  width : 50vw;
  height : 50vh;
  max-height: 400px;

}

.card-info {
  color : white;
  padding: 10px;
  height :100%;
  transition: all 0.5s ease-out;
}

.card-info:hover {
  background: linear-gradient(135deg, rgba(255,255,255,1) 12%,rgba(255,255,255,0.79) 36%,rgba(255,255,255,0.59) 58%,rgba(255,255,255,0) 100%);
  border-radius: 3px;
  color:#545050;
  ul {
    opacity : 1;
  }
}

.card-info ul {
  opacity: 0;
  margin-left: 15px;
}

.card-info li {
  margin-top : 4px;
}

.card-info h3 {
  margin-left: 10px;
  text-align: left;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2)
}

.cocktail-card {
  height: 100%;
  padding : 20px 15px;
  margin: 20px;
  max-width: 400px;
  min-width: 200px
}

.cocktail-card p {
  color:#545050;
}

.cocktail-card i {
  margin-right : 15px;
}

.cocktail-card em {
  color:#545050;
  margin-left: 20px;
}

.cocktail-card li {
  margin-bottom: 7px;
}

.cocktail-card h3 {
  margin-top: 7px;
}
