.card {
  margin: 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card-info {
  color : white;
  padding: 10px;
  height :100%;
  transition-property: background;
  transition-duration: 1s;
  transition: ease;
}

.card-info:hover {
  background: linear-gradient(135deg, rgba(255,255,255,1) 12%,rgba(255,255,255,0.79) 36%,rgba(255,255,255,0.59) 58%,rgba(255,255,255,0) 100%);
  border-radius: 3px;
  color:#545050;
  ul {
    opacity : 1;
  }
}

.card-info ul {
  opacity: 0;
}

.card-info h3 {
  margin-left: 10px;
  text-align: left;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2)
}

.cocktail-card {
  height: 100%;
  padding : 20px 15px;
  margin: 20px auto;
  max-width: 400px;
}

.cocktail-card p {
  color:#545050;
}

.cocktail-card i {
  margin-right : 15px;
}

.cocktail-card em {
  color:#545050;
  margin-left: 20px;
}

.cocktail-card li {
  margin-bottom: 7px;
}

.cocktail-card h3 {
  margin-top: 7px;
}
